<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!--  <meta .....> faltaba el /-->
	<title>Add Person</title>
</head>
<body>

<h1>Agregar Persona</h1>
<form action="#" th:action="@{/addPerson}" th:object="${persona}" method="post">
	<table>
		<tr>
			<td><p th:text="#{dni}"/></td>
			<td><input type="text" th:field="*{dni}"/></td>
			<td th:if="${#fields.hasErrors('dni')}"  th:errors="*{dni}">Ingrese DNI</td>
		</tr>
		<tr>
			<td>Nombre:</td>
			<td><input type="text" th:field="*{nombre}"/></td>
			<td th:if="${#fields.hasErrors('nombre')}"  th:errors="*{nombre}" 
			 style="color: #ff0000;">Ingrese Nombre</td>
		</tr>
		<tr>
			<td>Edad:</td>
			<td><input type="text" th:field="*{edad}"/></td>
			<td th:if="${#fields.hasErrors('edad')}"  th:errors="*{edad}">Ingrese Edad</td>
		</tr>
		<tr>
			<td>Incremento:</td>
			<td><input type="text" th:field="*{incremento}"/></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="enviar"/>
				<input type="reset" value="cancelar"/>
			</td>
			<td>&nbsp;</td>
		</tr>
	</table>
</form>
</body>
</html>